<ion-header>
  <ion-toolbar>
    <ion-title>Pelicula List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let p of peliculas">
      <ion-avatar slot="start">
        <img *ngIf="p.filename" src="http://localhost:8080/images/{{p.filename}}" alt="image"/>
      </ion-avatar>
      <ion-label>
        <h1>{{p.nombre}}</h1>
        <p>{{p.fecha}}</p>
        <ion-button fill="clear" (click)="updatePelicula()">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="deletePelicula(p.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPelicula()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
